<style>
  .rvt-typeset {
    padding-bottom: 9rem;
  }

  .rvt-typeset h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .rvt-typeset h2 {
    font-size: 1.75rem;
  }

  .rvt-typeset h3 {
    font-size: 1.5rem;
  }

  .rvt-typeset h4,
  .rvt-typeset h5,
  .rvt-typeset h6 {
    font-size: 1.25rem;
  }

  .rvt-typeset h1,
  .rvt-typeset h2,
  .rvt-typeset h3,
  .rvt-typeset h4,
  .rvt-typeset h5,
  .rvt-typeset h6 {
    font-weight: 700;
    margin-top: 2rem;
  }

  pre {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  pre,
  code {
    background-color: #f7f7f7;
  }

  code {
    font-size: 1rem;
    font-family: 'Monaco', 'Menolo', 'Andale mono', monospace;
    background-color: #f7f7f7;
    display: inline-block;
    padding: .05rem .15rem;
    border-radius: 3px;
    color: #d14;
  }

  .status-prototype {
    color: #df3603;
  }

  .status-alpha {
    color: #f5bb17;
  }

  .status-beta {
    color: #006298;
  }

  .status-ready {
    color: #008a28;
  }
</style>