<div class="rvt-m-top-md rvt-p-all-md rvt-border-all rvt-border-radius">
  <fieldset aria-describedby="grad-date-hint">
    <legend class="rvt-ts-18 rvt-text-bold">When will you graduate?</legend>
    <span class="rvt-ts-14" id="grad-date-hint">For example: 05 21 2019</span>
    <div class="rvt-date-input rvt-m-top-md">
      <div class="rvt-date-input__item">
        <label for="month">Month</label>
        <input type="number" min="1" max="12" id="month">
      </div>
      <div class="rvt-date-input__item">
        <label for="day">Day</label>
        <input type="number" min="1" max="31" id="day">
      </div>
      <div class="rvt-date-input__item rvt-date-input__item--year">
        <label for="year">Year</label>
        <input type="number" min="1900" max="2000" id="year">
      </div>
    </div>
  </fieldset>
</div>