<div class="rvt-alert rvt-alert--warning rvt-m-top-md" aria-labelledby="warning-alert-title">
  <h4 class="rvt-alert__title rvt-m-top-remove" id="warning-alert-title">Moment.js file size</h4>
  <p class="rvt-alert__message">While Moment.js is a powerful library, it can add significant overhead to your application. If you are only using Moment.js to format dates with the Rivet datepicker, consider writing your own formatting function (like <code>formatRivetDate</code> above) instead of importing Moment.js.</p>
</div>