<div class="rvt-alert rvt-alert--warning rvt-m-top-md" aria-labelledby="warning-alert-title">
  <div class="rvt-alert__title" id="warning-alert-title">Allow manual date entry</div>
  <p class="rvt-alert__message">Make sure you provide instructions letting users know the format in which they should type the date manually if they're unable to use the calendar datepicker.</p>
</div>