<div class="rvt-alert rvt-alert--warning rvt-m-top-md" aria-labelledby="warning-alert-title">
  <div class="rvt-alert__title" id="warning-alert-title">Allowing manual date entry</div>
  <p class="rvt-alert__message">It's important to note that if you are using a calendar date picker, make sure that you also provide instructions that let users know the format in which they should type the date manually in to the input.</p>
</div>