<div class="rvt-alert rvt-alert--warning rvt-m-top-md" aria-labelledby="pikaday-defaults-warning">
  <div class="rvt-alert__title" id="pikaday-defaults-warning">Changing theme, focus blurring, and ARIA labels</div>
  <p class="rvt-alert__message">While it's possible to override these defaults when you create a new datepicker instance, doing so will cause UX and accessibility issues. <strong>Please do not override these default configuration options.</strong></p>
</div>